<%= form_with(model: [@product, product_review]) do |form| %>
  <% if product_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_review.errors.count, "error") %> prohibited this product_review from being saved:</h2>

      <ul>
        <% product_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field rating-field">
    <%= form.label :rating, class: 'product-review-form-label' %>
    <input
      id="product_review_rating"
      name="product_review[rating]"
      class="rating rating--nojs"
      max="5"
      step="0.5"
      type="range"
      value="0"
    />
  </div>

  <div class="field">
    <%= form.label :description, 'Review', class: 'product-review-form-label' %>
    <%= form.text_area :description, class: 'product-review-form-text-area',
        placeholder: "Start typing..." %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit review', class: 'primary-btn' %>
  </div>
<% end %>
