<p id="notice"><%= notice %></p>

<div class="product">
  <h1>
    <%= @product.title %>
  </h1>
  <div class="product-bottom">
    <p>
      <% if @product.average_rating.nan? %>
        No reviews yet.
      <% else %>
        <div class="product_average_rating">
          <span class="product_average_rating_number"><%= @product.average_rating %></span>
          <label class="rating-label">
            <input
              class="rating"
              max="5"
              readonly
              step="0.01"
              style="--value:<%= @product.average_rating %>"
              type="range"
              value="<%= @product.average_rating %>"
            >
          </label>
        </div>
      <% end %>
    </p>
    <%= link_to 'Add review', new_product_product_review_path(@product), class: 'new-review-btn primary-btn' %>
  </div>
</div>

<hr class="hr_product" />

<% if @product.product_reviews.size > 0 %>
  <div class="reviews">
    <h2>Reviews</h2>
    <ul>
      <% @product.product_reviews.each do |product_review| %>
        <li class="product_review">
          <label class="rating-label">
            <input
              class="rating"
              max="5"
              readonly
              step="0.01"
              style="--value:<%= product_review.rating %>"
              type="range"
              value="<%= product_review.rating %>">
          </label>
          <div>
            <strong><%= product_review.rating %></strong>, 
            <span class="product_review_description"><%= product_review.description %><span>
          </div>
        </li>  
      <% end %>
    </ul>
</div>
<% end %>

<%= link_to 'Back to product overview', products_path, class: 'back-link'  %>
